body {
    font-family: sans-serif;
}

#placeBetsDiv, #watchRaceDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: normal;
    overflow: hidden;
    display: none;
}

#addPlayersDiv {
    background-color: lightcoral;
}

#placeBetsDiv {
    background-color: lightblue; 
}

#watchRaceDiv {
    background-color: yellow;
}

