#placeBetsDiv, #watchRace, #showResults {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: normal;
    overflow: hidden;
    display: none;
}

#addPlayers {
    background-color: red;
}

#placeBetsDiv {
    background-color: blue; 
}

#watchRace {
    background-color: yellow;
}

#showResults {
    background-color: green;
}

